* {
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background: #222;
  min-height: 420px;
  z-index: -1;
  overflow: hidden;
  font-family: "Poiret One", cursive; }

.overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  left: -102%;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 20, 20, 0.5);
  transition: 0.5s all ease-in; }

.overlay_appearance {
  left: 0; }

.overlay_rm_opacity {
  opacity: 1; }

.owner {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 10;
  width: 160px;
  height: 80px;
  display: flex;
  font-family: "Monoton", cursive; }
  .owner:hover {
    border: 1px solid #DDD; }
  .owner .avatar {
    width: 45%;
    height: 100%;
    background-image: url("../imgs/avatar.png");
    background-size: cover; }
  .owner .name {
    width: 55%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    color: #089C98;
    padding-top: 8%;
    background: #222; }

.menuBar {
  font-family: "Monoton", cursive;
  font-size: 14px; }
  .menuBar .outer_circle {
    position: fixed;
    top: 25%;
    left: 2%;
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 6px solid #222;
    border-radius: 50%; }
    .menuBar .outer_circle:hover {
      border-color: #333; }
    .menuBar .outer_circle:hover .inner_circle {
      background: #333; }
    .menuBar .outer_circle .inner_circle {
      position: absolute;
      top: 10%;
      left: 2%;
      width: 46px;
      height: 46px;
      transform: translate(-4.5px, -8px) scale(0.4);
      background: #222;
      border-radius: 50%;
      transition: transform 0.25s ease-in; }
    .menuBar .outer_circle .menu_button_animation {
      transform: translate(-4.5px, -8px) scale(0.7); }
  .menuBar .option:hover {
    left: 0; }
  .menuBar .welcome {
    position: fixed;
    top: 40%;
    left: -160px;
    z-index: 10;
    width: 150px;
    height: 35px;
    opacity: 0;
    background: #346F7D;
    color: #999;
    cursor: pointer;
    padding-left: 35px;
    padding-top: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s all ease;
    transition-delay: 0s; }
  .menuBar .about {
    position: fixed;
    top: 50%;
    left: -160px;
    z-index: 10;
    width: 150px;
    height: 35px;
    opacity: 0;
    background: #223870;
    color: #999;
    cursor: pointer;
    padding-left: 40px;
    padding-top: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s all ease;
    transition-delay: 0.1s; }
  .menuBar .projects {
    position: fixed;
    top: 60%;
    left: -160px;
    z-index: 10;
    width: 150px;
    height: 35px;
    opacity: 0;
    background: #6E3834;
    color: #999;
    cursor: pointer;
    padding-left: 40px;
    padding-top: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s all ease;
    transition-delay: 0.15s; }
  .menuBar .contact {
    position: fixed;
    top: 70%;
    left: -160px;
    z-index: 10;
    width: 150px;
    height: 35px;
    opacity: 0;
    background: #1D5E51;
    color: #999;
    cursor: pointer;
    padding-left: 40px;
    padding-top: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s all ease;
    transition-delay: 0.2s; }
  .menuBar .menu_appeare {
    left: -20px;
    opacity: 1; }
  .menuBar .page_on {
    position: absolute;
    top: 13px;
    left: 120px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0A0;
    transition: 1s all ease; }
  .menuBar .page_off {
    position: absolute;
    top: 13px;
    left: 120px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D43735;
    transition: 1s all ease; }
  .menuBar .selected_option {
    left: 0 !important; }

@media (max-height: 480px) {
  .menuBar .outer_circle {
    top: 114px; }
  .menuBar .welcome {
    top: 187px; }
  .menuBar .about {
    top: 233px; }
  .menuBar .projects {
    top: 279px; }
  .menuBar .contact {
    top: 325px; } }
.container {
  position: relative;
  width: 10000px;
  z-index: 1;
  height: 10000px;
  transition: 0.25s all ease-in;
  color: #EEE; }
  .container #welcome {
    position: absolute;
    top: 33.333%;
    left: 33.333%;
    width: 33.333%;
    height: 33.333%;
    background: rgba(255, 255, 255, 0.1);
    animation-name: welcome_flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
@keyframes welcome_flashing {
  100% {
    background: rgba(255, 255, 255, 0.4); } }
    .container #welcome .welcome_content_container {
      position: absolute;
      top: 37.333%;
      left: 40%;
      width: 19.9999%;
      height: 19.9999%;
      border-left: 4px solid #E89B24;
      border-right: 4px solid #E89B24; }
      .container #welcome .welcome_content_container .welcome_port {
        perspective: 600px;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row; }
        .container #welcome .welcome_content_container .welcome_port .left {
          width: 50%;
          height: 100%;
          background: #4595A8;
          transform-origin: left;
          transform: rotateY(118.8deg);
          animation-duration: 1.2s;
          animation-timing-function: ease-in;
          animation-fill-mode: forwards; }
        .container #welcome .welcome_content_container .welcome_port .right {
          width: 50%;
          height: 100%;
          background: #4595A8;
          transform-origin: right;
          transform: rotateY(-118.8deg);
          animation-duration: 1.5s;
          animation-timing-function: ease-in;
          animation-fill-mode: forwards; }
    .container #welcome .welcome_content {
      perspective: 600px;
      transform-style: preserve-3d;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      z-index: 1; }
      .container #welcome .welcome_content .welcome_sign {
        position: absolute;
        top: 40%;
        left: 35%;
        width: 30%;
        height: 7%;
        background: #D29945;
        border-left: 4px solid #F2B83D;
        border-right: 4px solid #F2B83D;
        font-family: "Abril Fatface", cursive;
        text-transform: capitalize;
        font-size: 40px;
        text-align: center;
        opacity: 0;
        animation-delay: 1.5s;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        transform: rotateY(-360deg) translateX(-60px) scale(0.2); }
      .container #welcome .welcome_content .welcome_sign_up {
        top: 20% !important;
        transition: 0.5s all ease; }
      .container #welcome .welcome_content p {
        position: absolute;
        top: 60%;
        left: 100%;
        opacity: 0;
        width: 80%;
        color: #E8C246;
        text-align: center;
        font-size: 20px;
        animation-delay: 3.5s;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards; }
  .container #about {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.333%;
    height: 33.333%;
    background: rgba(0, 0, 255, 0.1);
    animation-name: about_flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
@keyframes about_flashing {
  100% {
    background: rgba(0, 0, 255, 0.3); } }
    .container #about .about_bg_right {
      position: absolute;
      top: 55.555%;
      left: 38.333%;
      border-right: 666.66px solid #304F9C;
      border-top: 666.66px solid transparent;
      border-bottom: 0 solid transparent; }
    .container #about .about_bg_top {
      position: absolute;
      top: 55.555%;
      left: 38.333%;
      background: #284282;
      width: 19.9999%;
      height: 19.9999%; }
    .container #about .about_bg_bottom {
      position: absolute;
      top: 60%;
      left: 38.333%;
      border-left: 666.64px solid rgba(57, 93, 186, 0.2);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #about .about_bg_bottom::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(57, 93, 186, 0.2); }
    .container #about .about_nav {
      position: absolute;
      width: 100%;
      height: 6%;
      background: rgba(204, 133, 23, 0.8);
      display: flex;
      flex-direction: row;
      text-align: center;
      padding-top: 0.8%;
      padding-bottom: 0.8%;
      color: #000;
      font-size: 20px; }
      .container #about .about_nav .option {
        width: 33.333%;
        height: 100%;
        border-right: 2px solid #000;
        border-left: 2px solid #000;
        cursor: pointer; }
        .container #about .about_nav .option:hover {
          background: #D2A71C; }
      .container #about .about_nav .ab_option {
        border-left: 4px solid #000; }
      .container #about .about_nav .prog_option {
        border-right: 4px solid #000; }
    .container #about .desc_header {
      width: 80%;
      height: 10%;
      text-align: center;
      font-size: 40px;
      margin: auto;
      margin-top: 10%;
      margin-bottom: 10%;
      font-family: "Abril Fatface", cursive;
      text-transform: capitalize; }
    .container #about #about_description {
      position: absolute;
      top: 55.555%;
      left: 38.333%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #about #about_description .img {
        width: 38%;
        height: 40%;
        margin-left: 2%;
        background-image: url("../imgs/nice_pic.png");
        float: left;
        background-size: cover; }
      .container #about #about_description .paragraph {
        width: 53%;
        margin-right: 3%;
        float: right;
        font-size: 15px; }
    .container #about .skills_bg_top {
      position: absolute;
      top: 10%;
      left: 10%;
      background: #284282;
      width: 19.9999%;
      height: 19.9999%; }
    .container #about .skills_bg_bottom {
      position: absolute;
      top: 14.38%;
      left: 10%;
      border-left: 666.64px solid rgba(57, 93, 186, 0.2);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #about .skills_bg_bottom::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(57, 93, 186, 0.2); }
    .container #about .skills {
      position: absolute;
      top: 10%;
      left: 10%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #about .skills .header {
        width: 80%;
        height: 10%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 8%;
        font-size: 40px;
        text-align: center;
        font-family: "Abril Fatface", cursive;
        text-transform: capitalize; }
      .container #about .skills .design_skills {
        width: 48%;
        height: 40%;
        margin-left: 2%;
        float: left; }
        .container #about .skills .design_skills .header {
          text-align: center;
          font-size: 25px;
          font-family: "Comfortaa", cursive; }
        .container #about .skills .design_skills ul {
          margin-left: 4%;
          margin-top: 20%; }
          .container #about .skills .design_skills ul li {
            padding-bottom: 4%; }
      .container #about .skills .development_skills {
        width: 48%;
        height: 40%;
        float: right;
        margin-right: 2%; }
        .container #about .skills .development_skills .header {
          text-align: center;
          font-size: 25px;
          font-family: "Comfortaa", cursive; }
        .container #about .skills .development_skills ul {
          margin-left: 4%;
          margin-top: 20%; }
          .container #about .skills .development_skills ul li {
            padding-bottom: 4%; }
    .container #about .progression_bg_top {
      position: absolute;
      top: 10%;
      left: 66.666%;
      background: #284282;
      width: 19.9999%;
      height: 19.9999%; }
    .container #about .progression_bg_bottom {
      position: absolute;
      top: 14.38%;
      left: 66.666%;
      border-left: 666.64px solid rgba(57, 93, 186, 0.2);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #about .progression_bg_bottom::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(57, 93, 186, 0.2); }
    .container #about .progression {
      position: absolute;
      top: 10%;
      left: 66.666%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #about .progression .header {
        width: 80%;
        height: 10%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 8%;
        font-size: 40px;
        text-align: center;
        font-family: "Abril Fatface", cursive;
        text-transform: capitalize; }
      .container #about .progression .design_skills {
        width: 50%;
        float: left; }
        .container #about .progression .design_skills .header {
          text-align: center;
          font-size: 25px;
          font-family: "Comfortaa", cursive;
          text-transform: capitalize;
          font-size: 25px; }
        .container #about .progression .design_skills ul {
          margin-top: 20%;
          margin-left: 4%; }
          .container #about .progression .design_skills ul li {
            padding-bottom: 10%; }
      .container #about .progression .development_skills {
        width: 50%;
        float: right; }
        .container #about .progression .development_skills .header {
          text-align: center;
          font-size: 25px;
          font-family: "Comfortaa", cursive;
          text-transform: capitalize;
          font-size: 25px; }
        .container #about .progression .development_skills ul {
          margin-top: 20%;
          margin-left: 4%; }
          .container #about .progression .development_skills ul li {
            padding-bottom: 10%; }
  .container #projects {
    position: absolute;
    top: 0;
    left: 66.666%;
    width: 33.333%;
    height: 33.333%;
    background: rgba(120, 21, 57, 0.1);
    animation-name: projects_flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
@keyframes projects_flashing {
  100% {
    background: rgba(120, 21, 57, 0.3); } }
    .container #projects .projs_nav {
      position: absolute;
      width: 100%;
      height: 6%;
      background: #76A62B;
      display: flex;
      flex-direction: row;
      text-align: center;
      padding-top: 0.8%;
      padding-bottom: 0.8%;
      color: #000;
      font-size: 20px; }
      .container #projects .projs_nav .option {
        width: 33.333%;
        height: 100%;
        border-right: 2px solid #000;
        border-left: 2px solid #000;
        cursor: pointer; }
        .container #projects .projs_nav .option:hover {
          background: #A6E83C; }
      .container #projects .projs_nav .projs_option {
        border-left: 4px solid #000; }
      .container #projects .projs_nav .proj2_option {
        border-right: 4px solid #000; }
    .container #projects .proj_desc_bg_right {
      position: absolute;
      top: 55.555%;
      left: 40.333%;
      border-right: 666.66px solid #82433E;
      border-top: 666.66px solid transparent;
      border-bottom: 0 solid transparent; }
    .container #projects .proj_desc_bg_top_left {
      position: absolute;
      top: 55.555%;
      left: 40.333%;
      background: #6B3733;
      width: 19.9999%;
      height: 19.9999%; }
    .container #projects .proj_desc_bg_bottom_left {
      position: absolute;
      top: 59.935%;
      left: 40.333%;
      border-left: 666.64px solid rgba(191, 98, 91, 0.1);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #projects .proj_desc_bg_bottom_left::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(191, 98, 91, 0.1); }
    .container #projects #proj_description {
      position: absolute;
      top: 55.555%;
      left: 40.333%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #projects #proj_description .header {
        width: 80%;
        height: 10%;
        font-size: 40px;
        margin: 15% auto;
        text-align: center;
        font-family: "Abril Fatface", cursive;
        text-transform: capitalize; }
      .container #projects #proj_description .desc {
        width: 80%;
        height: 50%;
        margin: 15% auto;
        text-align: center; }
    .container #projects .proj1_bg_top {
      position: absolute;
      top: 10%;
      left: 12%;
      background: #6B3733;
      width: 19.9999%;
      height: 19.9999%; }
    .container #projects .proj1_bg_bottom {
      position: absolute;
      top: 14.38%;
      left: 12%;
      border-left: 666.64px solid rgba(191, 98, 91, 0.1);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #projects .proj1_bg_bottom::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(191, 98, 91, 0.1); }
    .container #projects .proj_1 {
      position: absolute;
      top: 10%;
      left: 12%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #projects .proj_1 .img_1 {
        background-image: url("../imgs/owl.png"); }
      .container #projects .proj_1 .img_2 {
        background-image: url("../imgs/alternative_skull.png"); }
      .container #projects .proj_1 .img_3 {
        background-image: url("../imgs/fused_glass.png"); }
    .container #projects .proj2_bg_top {
      position: absolute;
      top: 10%;
      left: 68.666%;
      background: #6B3733;
      width: 19.9999%;
      height: 19.9999%; }
    .container #projects .proj2_bg_bottom {
      position: absolute;
      top: 14.38%;
      left: 68.666%;
      border-left: 666.64px solid rgba(191, 98, 91, 0.1);
      border-top: 444px solid transparent;
      border-bottom: 0 solid transparent; }
      .container #projects .proj2_bg_bottom::after {
        content: "";
        position: absolute;
        left: -666.64px;
        height: 75px;
        width: 666.64px;
        background: rgba(191, 98, 91, 0.1); }
    .container #projects .proj_2 {
      position: absolute;
      top: 10%;
      left: 68.666%;
      width: 19.9999%;
      height: 19.9999%; }
      .container #projects .proj_2 .img_1 {
        background-image: url("../imgs/owl.png"); }
      .container #projects .proj_2 .img_2 {
        background-image: url("../imgs/alternative_skull.png"); }
      .container #projects .proj_2 .img_3 {
        background-image: url("../imgs/fused_glass.png"); }
    .container #projects .proj .header {
      width: 80%;
      height: 9%;
      margin: 14% auto;
      margin-top: 14%;
      margin-bottom: 6%;
      text-align: center;
      font-size: 40px;
      font-family: "Abril Fatface", cursive;
      text-transform: capitalize; }
    .container #projects .proj .imgs_section {
      width: 30%;
      height: 60%;
      margin-left: 2%;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .container #projects .proj .imgs_section .img_1, .container #projects .proj .imgs_section .img_2, .container #projects .proj .imgs_section .img_3 {
        width: 100%;
        height: 30%;
        background-size: 100% 100%;
        position: relative; }
        .container #projects .proj .imgs_section .img_1::after, .container #projects .proj .imgs_section .img_2::after, .container #projects .proj .imgs_section .img_3::after {
          content: "";
          background: #5FC4D6;
          opacity: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.2s all ease-in; }
        .container #projects .proj .imgs_section .img_1:hover:after, .container #projects .proj .imgs_section .img_2:hover:after, .container #projects .proj .imgs_section .img_3:hover:after {
          opacity: 0.4; }
    .container #projects .proj .desc_section {
      width: 60%;
      height: 60%;
      margin-right: 2%;
      float: right;
      text-align: center; }
    .container #projects .proj .project_link {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 6%;
      color: #000;
      text-align: center;
      background: #76A62B; }
  .container #contact {
    position: absolute;
    top: 66.666%;
    left: 0;
    width: 33.333%;
    height: 33.333%;
    color: #DDD;
    background: rgba(29, 92, 79, 0.1);
    animation-name: contact_flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
    .container #contact .contact_container {
      position: absolute;
      top: 38.333%;
      left: 38.333%;
      width: 19.9999%;
      height: 19.9999%;
      border: 2px solid #1D5C4F;
      display: flex;
      flex-direction: column; }
      .container #contact .contact_container .fa {
        position: absolute;
        font-size: 40px; }
      .container #contact .contact_container #contact_me {
        position: relative;
        width: 100%;
        height: 50%; }
        .container #contact .contact_container #contact_me .fa-at {
          top: 36%;
          left: 20%;
          color: #1D5C4F; }
        .container #contact .contact_container #contact_me .fa-mobile {
          top: 56%;
          left: 20.5%;
          color: #1D5C4F; }
      .container #contact .contact_container .socialmedia {
        position: relative;
        width: 100%;
        height: 50%;
        background: #1D5C4F; }
        .container #contact .contact_container .socialmedia .fa-twitter-square {
          color: #00aced;
          top: 30%;
          left: 13%; }
        .container #contact .contact_container .socialmedia .fa-facebook-square {
          color: #1D2B66;
          top: 60%;
          left: 13%; }
        .container #contact .contact_container .socialmedia .fa-github-square {
          color: #24292e;
          top: 30%;
          left: 63%; }
        .container #contact .contact_container .socialmedia .fa-codepen {
          color: #DDD;
          top: 60%;
          left: 63%; }
      .container #contact .contact_container #contact_me span, .container #contact .contact_container .socialmedia span {
        font-size: 25px; }
        .container #contact .contact_container #contact_me span:hover, .container #contact .contact_container .socialmedia span:hover {
          text-decoration: underline; }
@keyframes contact_flashing {
  100% {
    background: rgba(29, 92, 79, 0.3); } }
@keyframes left_door {
  40% {
    transform: rotateY(-45deg); }
  80% {
    transform: rotateY(45deg); }
  100% {
    transform: rotateY(0); } }
@keyframes right_door {
  40% {
    transform: rotateY(45deg); }
  80% {
    transform: rotateY(-45deg); }
  100% {
    transform: rotateY(0); } }
@keyframes welcome_sign {
  0% {
    transform: rotateY(-360deg) translateX(-60px) scale(0.2);
    opacity: 0; }
  50% {
    transform: rotateY(-180deg) translateX(60px); }
  80% {
    transform: rotateY(0) translateX(0) scale(1.2); }
  100% {
    transform: rotateY(0) translateX(0) scale(1);
    opacity: 1; } }
@keyframes paragraph_appeare {
  100% {
    opacity: 1;
    left: 10%; } }
@media (max-width: 689px) {
  .container {
    width: 6000px;
    height: 6000px; }

  .bg_right {
    border-right-width: 400.66px !important;
    border-top-width: 400.66px !important; }

  .bg_bottom {
    border-left-width: 400.64px !important;
    border-top-width: 237px !important; }
    .bg_bottom::after {
      left: -400.64px !important;
      width: 400.64px !important; }

  #projects .header {
    font-size: 30px !important; }

  .contact_container .fa {
    font-size: 25px !important; }
  .contact_container span {
    font-size: 15px !important; }

  .welcome_sign {
    font-size: 25px !important; }

  .welcome_port .left {
    transform: rotateY(108deg) !important; }
  .welcome_port .right {
    transform: rotateY(-108deg) !important; }

  .nav {
    padding-top: 1% !important;
    font-size: 15px !important; } }

/*# sourceMappingURL=style.css.map */
