*
    margin: 0
    padding: 0
    box-sizing: border-box

::-o-selection
    color: #333
    background: #D88738
::-ms-selection
    color: #333
    background: #D88738
::-moz-selection
    color: #333
    background: #D88738
::-webkit-selection
    color: #333
    background: #D88738

body
    font-family: 'Rubik', Sans-serif

    h2
        font-family: 'Anton', Sans-serif
        text-transform: uppercase

    h4, h3
        font-family: 'Lalezar', cursive
        text-transform: uppercase

.wrapper
    max-width: 800px
    width: 80%
    margin: 0 auto

.welcome
    position: relative
    overflow: hidden
    background: linear-gradient(#444, #222)
    height: 100vh

    .logo_container
        width: 300px
        border-radius: 10px
        margin: 12vh auto 0 auto
        font-size: 30px
        color: #CF7118
        display: flex
        justify-content: space-between

        .logo
            height: 80px
            width: 80px
            background-image: url('../icons/logo.png')
            background-size: cover
            border-radius: 50%

        .nickname
            margin-top: 20px
            font-family: 'Monoton', cursive

    .welcome_text
        margin: 14vh auto 0 auto
        text-align: center
        color: #999
        line-height: 35px
        font-size: 25px
        font-family: 'Righteous', cursive

        b

            a
                color: #CF7118
                text-decoration: none
                text-transform: capitalize

            span
                text-transform: capitalize

            &:nth-of-type(2)
                color: #444
                background: #D89738

    .socialMedia
        margin: 10vh 0 auto 0

        .icons
            margin: 40px auto 0 auto
            display: inline-block

            a
                color: #CF7118
                text-decoration: none

            .fa
                margin: 0 15px 0 15px
                font-size: 30px

    .flesh_container
        position: absolute
        bottom: 2vh
        width: 100%
        color: #EEE

        a
            text-decoration: none
            color: #BBB

        .myWorkFlesh
            width: 80px
            margin: 0 auto
            text-align: center
            font-size: 16px

            .flesh
                margin-top: 10px
                position: relative

                .r_flesh, .l_flesh
                    background: #BBB
                    width: 15px
                    height: 3px
                    position: absolute
                    bottom: 0

                .r_flesh
                    left: 34px
                    transform-origin: right
                    transform: rotate(-45deg)

                .l_flesh
                    left: 30px
                    transform-origin: left
                    transform: rotate(45deg)
.menu_icon
    float: right
    cursor: pointer
    position: fixed
    right: 4vw
    top: 5vh
    z-index: 1

    .bar1, .bar2, .bar3
        width: 30px
        height: 6px
        background: #CF7118
        margin-top: 4px

.menu_overlay
    position: fixed
    top: 0
    left: 0
    z-index: 2
    background: rgba(0, 0, 0, .8)
    width: 100vw
    height: 100vh
    visibility: hidden

.menu_overlay_show
    visibility: visible !important

    .menu_objects
        width: 60vw
        margin: 20vh auto 0 auto
        text-align: center
        font-size: 32px
        line-height: 20vh
        text-transform: capitalize

        a
            text-decoration: none

            h4
                color: #AAA
                cursor: pointer
                &:hover
                    color: rgba(181,99,21,1)

.work
    background: linear-gradient(#2D2F54, #161729)
    text-align: center
    overflow: hidden

    &::before
        position: absolute
        left: 0
        content: ''
        border-right: 48.5vw solid transparent
        border-left: 48.5vw solid transparent
        border-top: 60px solid #222

    h2
        font-size: 35px
        margin: 180px 0 140px 0
        color: #E36E17

    .projectContainer
        margin-bottom: 140px
        color: #BBB

        h3
            color: #C96215
            font-size: 25px

        .project
            padding: 40px 0
            display: flex
            justify-content: space-between

            .projectImg
                img
                    width: 300px
                    height: 300px
                    border-radius: 10px

            .desc
                width: 50%
                margin-top: 60px
                font-size: 18px
                text-align: center

        .testimonials
            background: #B55813
            padding: 10px 0
            color: #DDD

            .quote
                blockquote
                    margin-bottom: 20px
                    font-size: 20px

                    span
                        font-size: 60px
                        margin-right: 15px
                        color: #2D2F54

            .client
                margin: auto
                overflow: hidden
                display: inline-block

                img
                    width: 60px
                    height: 60px
                    float: left

                .clientDesc
                    font-size: 17px
                    font-weight: bolder
                    float: left
                    margin: 20px 0 0 10px
                    color: #2D2F54

.contact
    background: linear-gradient(#C7983E, #C77A35)
    text-align : center
    overflow: hidden

    &::before
        position: absolute
        left: 0
        content: ''
        border-right: 48.5vw solid transparent
        border-left: 48.5vw solid transparent
        border-top: 60px solid #161729

    h2
        font-size: 40px
        margin: 180px 0 140px 0
        color: #2C3385

    .wrapper
        display: flex

        form
            width: 70%
            margin-bottom: 100px

        input
            width: 80%
            height: 50px
            margin: 15px 0 15px 0
            display: block
            padding: 10px
            border-radius: 12px
            outline: none
            background: #BF7533
            color: #6267A3
            font-size: 20px
            font-weight: bold

            &[name='submit']
                height: 30px
                margin-top: 5px
                background: #2C3385
                color: #FFF
                font-size: 15px
                padding: 0
                color: #6267A3

        textarea
            height: 200px
            width: 80%
            margin: 15px 0 15px 0
            display: block
            padding: 10px
            border: none
            border-radius: 12px
            outline: none
            background: #BF7533
            color: #6267A3
            font-size: 20px
            font-weight: bold
            resize: vertical

        textarea, input
            border: 0 solid

            &:focus
                border: 2px solid #6267A3

        .socialMedia
            margin: 100px 0 100px 0
            width: 30%

            h4
                color: #2C3385
                font-size: 25px
                margin-bottom: 10px

            i
                font-size: 30px
                margin: 10px

.footer
    background: #000
    text-align: center
    font-weight: bolder
    font-size: 16px
    letter-spacing: .5px
    height: 40px
    color: #BF7533
    padding-top: 8px

    span
        margin-right: 15px















@media(max-width: 840px)
    .wrapper
        width: 90%

@media(max-width: 700px)
    .projectImg
        img
            width: 250px !important
            height: 250px !important

    .project
        .desc
            div
                margin-bottom: 20px !important

@media(max-width: 590px)
    .work
      h2
        margin: 120px 0 80px 0

    .project
        display: inline-block !important
        .projectImg
            img
                width: 70% !important
                height: 200px !important
        .desc
            width: 100% !important

    .contact
        h2
            margin: 120px 0 80px 0

@media (max-width: 680px)
    .contact
        .wrapper
            display: inline-block

            form,input,textarea
                width: 100%

            .socialMedia
                width: 100%

@media (max-width: 450px)
    .welcome
        .logo_container
            margin-top: 16vh
            width: 200px
            height: 50px
            font-size: 20px

            .logo
                height: 50px
                width: 50px

            .nickname
                margin-top: 10px

        .welcome_text
            font-size: 16px
            margin-top: 10vh !important

        .socialMedia
            margin-top: 6vh

            .icons
                margin-top: 0

                .fa
                    font-size: 25px
                    margin: 0 8px 0 8px

    .work
        .testimonials
            .wrapper
                width: 95%  !important

                img
                    width: 40px !important
                    height: 40px !important

                .clientDesc
                    font-size: 15px !important
                    margin: 11px 2px 0 0 !important

    .footer
        font-size: 12px
        font-weight: lighter






*
