doctype html
html
    head
        meta(charset=UTF-8)
        title Woman Foot
        link(rel='stylesheet' href='css/style.css')
        link(rel='stylesheet' href='css/jquery.bxslider.min.css')
    
    body
        header
            .wraper
                a(href='index.html')
                  .logo
                      .icon
                      .title woman foot
                .basket
                  .productsNumber 0
                a(href='#contact')
                  .contact contact
                a(href='about/index.html')
                  .about about
                a(href='index.html')
                  .home home
                  
        .slider
            ul(class='bxslider')
              li
                img(src='imgs/sliderImages/1.png')
              li
                img(src='imgs/sliderImages/2.png')
              li
                img(src='imgs/sliderImages/3.png')
              li
                img(src='imgs/sliderImages/4.png')
              li
                img(src='imgs/sliderImages/5.png')
              li
                img(src='imgs/sliderImages/6.png')
            
          
        h1
        .winterShoes
        .summerShoes
        .sportShoes
        
        .footer
            .contact
            .copyRights

        script(src='js/script.js')
        script(src='js/jquery.bxslider.min.js')
        script(src='js/jquery.js')
