doctype html
html
    head
        meta(name='viewport' content='width=device-width')
        title solidtyper
        link(rel='icon' href='icons/logo.png' style='border-radius: 50%')
        link(rel='stylesheet' href='css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Monoton|Righteous|Anton|Lalezar|Rubik" rel="stylesheet")
        link(rel='stylesheet' href='css/font-awesome.min.css')
        script(src='js/script.js')
        
    
    body
        .welcome#welcome
            .logo_container
                .logo
                .nickname solidtyper
            .welcome_text
                .wrapper
                    b Hi, 
                    b My name's 
                        span anas ouardini
                        |, I'm a web developer,
                    b &nbsp I've built some websites and here is 
                        a(href='#work') my work 
                    b if you're interested. and you can 
                        a(href='#contact') Contact me 
                    b if you like what i do.
                .socialMedia
                    .icons
                        a(href= 'https://www.youtube.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-youtube') 
                        a(href= 'https://www.facebook.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-facebook-square') 
                        a(href= 'https://www.twitter.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-twitter-square') 
                        a(href= 'https://www.instagram.com/solidtyper' target = '_blank')    
                            i(class = 'fa fa-instagram')
                        a(href= 'https://www.github.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-github-square') 
                        a(href= 'https://www.codepen.io/solidtyper' target = '_blank')
                            i(class = 'fa fa-codepen') 
            .flesh_container
                a(href='#work')
                    .myWorkFlesh 
                        h4 my Work
                        .flesh
                            .r_flesh
                            .l_flesh
        .menu_icon
            .bar1
            .bar2
            .bar3
        .menu_overlay
            .menu_objects
                a(href='#welcome')
                    h4 welcome
                a(href='#work')
                    h4 my work
                a(href='#contact')
                    h4 contact me
        script 
            | document.body.children[1].onclick=function(){document.body.children[2].classList.toggle('menu_overlay_show')}
            | document.body.children[2].onclick=function(){document.body.children[2].classList.toggle('menu_overlay_show')}
        .work#work
            h2 my work
            
            .projectContainer
                .wrapper
                    h3 project 1
                    .project
                        .projectImg
                            img(src='imgs/building.png' alt='building')
                        .desc
                            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia                
                .testimonials
                    .wrapper
                        .quote
                            blockquote 
                                span “
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec,
                        .client
                            img(src='icons/avatar.png')
                            .clientDesc mr.name company, the project
                
            .projectContainer
                .wrapper
                    h3 project 1
                    .project
                        .projectImg
                            img(src='imgs/building1.png' alt='building')
                        .desc
                            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia
                .testimonials
                    .wrapper
                        .quote
                            blockquote 
                                span “
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec,
                        .client
                            img(src='icons/avatar.png')
                            .clientDesc mr.name company, the project
                
        .contact#contact
            h2 get in touch
            .wrapper
                form(action='confirm.php' required method='post')
                    input(type='text' name='name' placeholder='Name' autocomplete='on')
                    input(type='email' name='email' placeholder='Email' autocomplete='on')
                    textarea(name='msg' placeholder='Message')
                    input(type='submit' name='submit' value='Send')
                    
                .socialMedia
                    h4 let's connect
                    .icons
                        a(href= 'https://www.youtube.com/solidtyper' target = '_blank' style = 'color: #A00')
                            i(class = 'fa fa-youtube') 
                        a(href= 'https://www.facebook.com/solidtyper' target = '_blank' style = 'color: #1E2B75')
                            i(class = 'fa fa-facebook-square') 
                        a(href= 'https://www.twitter.com/solidtyper' target = '_blank' style = 'color: #2387B0')
                            i(class = 'fa fa-twitter-square')
                        a(href= 'https://www.instagram.com/solidtyper' target = '_blank' style = 'color: #a0286a')
                            i(class = 'fa fa-instagram')
                        a(href= 'https://www.github.com/solidtyper' target = '_blank' style = 'color: #222')
                            i(class = 'fa fa-github-square') 
                        a(href= 'https://www.codepen.io/solidtyper' target = '_blank' style = 'color: #222')
                            i(class = 'fa fa-codepen') 
            
        .footer
            h3
                span anas ouardini
                |all rights reserved &copy 2018




        
