doctype html
html
    head
        title solidtyper
        link(rel='icon' href='icons/logo.png' style='border-radius: 50%')
        link(rel='stylesheet' href='css/style.css')
        link(href="https://fonts.googleapis.com/css?family=Monoton|Righteous|Anton|Lalezar|Rubik" rel="stylesheet")
        link(rel='stylesheet' href='css/font-awesome.min.css')
        script(src='js/script.js')
        
    
    body
        .welcome#welcome
            .menu_icon
                .bar1
                .bar2
                .bar3
            .menu
            .logo_container
                .logo
                .nick_name solidtyper
            .welcome_text
                b Hi, 
                b My name's 
                    span anas ouardini
                    |, I'm a web developer,
                b &nbsp You can read 
                    a(href='#about') about me
                    |. I've built some websites, View 
                    a(href='#work') my work 
                b if you're interested. 
                    a(href='#contact') Contact me 
                b if you like what i do.
                .socialMedia
                    h4 you can also find me here :
                    .icons
                        a(href= 'https://www.youtube.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-youtube') 
                        a(href= 'https://www.facebook.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-facebook-square') 
                        a(href= 'https://www.twitter.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-twitter-square') 
                        a(href= 'https://www.instagram.com/solidtyper' target = '_blank')    
                            i(class = 'fa fa-instagram')
                        a(href= 'https://www.github.com/solidtyper' target = '_blank')
                            i(class = 'fa fa-github-square') 
                        a(href= 'https://www.codepen.io/solidtyper' target = '_blank')
                            i(class = 'fa fa-codepen') 
            .flesh_container
                a(href='#about')
                    .aboutMeFlesh 
                        h4 about me
                        .flesh
                            .r_flesh
                            .l_flesh
        .menu_overlay
            .menu_objects
                h4 welcome
                h4 about me
                h4 my work
                h4 contact me
            
            
        .about#about
            .wrapper
                h2 about me
                div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec,
            
                h3 who am i ?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h3 how did i start ?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h3 what can i do ?
                p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h3 what did i learn ?
                
                h4 html
                .iconsFrame.html
                    img(src='icons/html.png' alt='html icon')
                    img(src='icons/html5.png' alt='html5 icon')
                    img(src='icons/jade.svg' alt='jade icon')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h4 css
                .iconsFrame.css
                    img(src='icons/css.png' alt='css icon')
                    img(src='icons/css3.png' alt='css3 icon')
                    img(src='icons/sass.svg' alt='sass icon')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h4 javascript
                .iconsFrame.javascript
                    img(src='' alt='')
                    img(src='icons/javascript.png' alt='javascript icon')
                    img(src='' alt='')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h3 what tools do i use ?
                h4 code editor
                .iconsFrame.ide
                    img(src='icons/atom.png' alt='atom (IDE) icon')
                    img(src='icons/sublimetext.png' alt='sublime texte (IDE) icon')
                    img(src='icons/brackets.png' alt='brackets (IDE) icon')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h4 browser
                .iconsFrame.browser
                    img(src='icons/firefox.png' alt='firefox icon')
                    div or
                    img(src='icons/chrome.png' alt='chrome icon')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h4 hosting
                .iconsFrame.hosting
                    img(src='icons/github.png' alt='github icon')
                    div and
                    img(src='icons/git.png' alt='git icon')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                
                h4 ftp
                .iconsFrame.ftp
                    img(src='' alt='')
                    img(src='icons/filezilla.png' alt='filezilla icon')
                    img(src='' alt='')
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia eget diam. Curabitur at ultrices ex. Vivamus malesuada magna ac risus tempus sagittis. Mauris et dapibus lorem, et ullamcorper dolor. Sed faucibus massa ut lectus pellentesque ornare. Integer convallis sapien in magna tincidunt, vel tempor massa pulvinar. Vestibulum euismod, elit eget fermentum lacinia, eros diam dapibus mi, a commodo urna arcu at magna.
                    
        .work#work
            h2 my work
            
            .projectContainer
                .wrapper
                    .project
                        .projectImg
                            img(src='imgs/building.png' alt='building')
                        .desc
                            div 
                                h3 project 1
                            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia                
                .testimonials
                    .wrapper
                        .quote
                            blockquote 
                                span “
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec,
                        .client
                            img(src='icons/avatar.png')
                            .clientDesc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                
            .projectContainer
                .wrapper
                    .project
                        .projectImg
                            img(src='imgs/building1.png' alt='building')
                        .desc
                            div 
                                h3 project 2
                            p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec, lacinia
                .testimonials
                    .wrapper
                        .quote
                            blockquote 
                                span “
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ex quis vestibulum mollis. Maecenas arcu ligula, tempor ut molestie nec,
                        .client
                            img(src='icons/avatar.png')
                            .clientDesc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                
        .contact#contact
            h2 get in touch
            .phone
            .email
            form(action='confirm.php' required method='post')
                input(type='text' name='name' placeholder='Name' autocomplete='on')
                input(type='email' name='email' placeholder='Email' autocomplete='on')
                textarea(name='msg' placeholder='Message')
                input(type='submit' name='submit' value='Send')
            
            .socialMedia
                h4 let's connect
                .icons
                    a(href= 'https://www.youtube.com/solidtyper' target = '_blank' style = 'color: #A00')
                        i(class = 'fa fa-youtube') 
                    a(href= 'https://www.facebook.com/solidtyper' target = '_blank' style = 'color: #1E2B75')
                        i(class = 'fa fa-facebook-square') 
                    a(href= 'https://www.twitter.com/solidtyper' target = '_blank' style = 'color: #2387B0')
                        i(class = 'fa fa-twitter-square')
                    a(href= 'https://www.instagram.com/solidtyper' target = '_blank' style = 'color: #a0286a')
                        i(class = 'fa fa-instagram')
                    a(href= 'https://www.github.com/solidtyper' target = '_blank' style = 'color: #222')
                        i(class = 'fa fa-github-square') 
                    a(href= 'https://www.codepen.io/solidtyper' target = '_blank' style = 'color: #222')
                        i(class = 'fa fa-codepen') 
            
        .footer
            h3
                span anas ouardini
                |all rights reserved &copy 2018




        
