doctype html
html
    head
        title code solide
        link(rel='stylesheet' href='css/style.css')
        script(src='js/script.js')
        
    
    body
        .welcome
            .menu_icon
                .bar1
                .bar2
                .bar3
            .menu
            .logo coming soon!
            .welcome_text
                p hi, my name's 
                    b anas ouardini,
                p i'm a web developer, i build websites you can read 
                    b about me, 
                    |and i've built some websites you can see 
                    b my work.
                p if you like what i do you can 
                    b contact me
                .socialMedia
                    h4 you can also find me here :
                    .icons
                        .facebook
                        .facebook
                        .facebook
                        .facebook
            .aboutMeFlesh 
                b about me
                .flesh
                    .r_flesh
                    .l_flesh
        .about
            h2 about me
            il
                li who am i
                    p
                li how did i started
                    p
                li my skills
                    p
                    h4
                    .html
                    p
                    .css
                    p
                    .js
                    p
                    .technologies
                    p
                li tools that i use
                    .c_editors
                    p
                    .browsers
                    p
                    .host
                    p
                    .ftp
                    p
                    
        .work
            .project1
                .project
                    .img
                    .desc
                .testemonials
            .project2
                .project
                    .img
                    .desc
                .testemonials
                
        .contact
            h2 contact me
            form
            .phone
            .email
            .facebook
            .twitter
            .codepen
            .github
            .youtube
            
        .footer
            h4 anas ouardini all rights reserved &copy 2018




        
