doctype html
html
  head
    title anas ouardini
    link(rel='icon' href='imgs/avatar.png')
    link(rel="stylesheet", href="css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Monoton|Poiret+One", rel="stylesheet")
    script(src="js/script.js")
    link(rel="stylesheet", href="css/font-awesome.min.css")
  body
    // fixed elements
    .overlay(onclick="menu_appearance_cancel()")
    .owner
      .avatar(onclick='img_view("avatar.png")')
      .name anas ouardini
    #menu.menuBar
      .outer_circle(onclick="menu_animate()")
        #button.inner_circle
      a
        .option.welcome(onclick='page_status("welcome")') welcome
          .page_on
      a
        .option.about(onclick='page_status("about")') about
          .page_off
      a
        .option.projects(onclick='page_status("projects")') projects
          .page_off
      a
        .option.contact(onclick='page_status("contact")') contact
          .page_off
    .container
      #welcome
        .welcome_content_container
          .welcome_port
            .left       
            .right
          #w_content.welcome_content
            .welcome_sign hi there
            p
              | Lorem ipsum dolor sit amet, qui no inani scripserit. Antiopam assueverit ut qui, ius sonet scriptorem an. Mel meliore principes theophrastus id. Ex eos impedit .
      #about
        .bg_top.about_bg_top
        .bg_right.about_bg_right 
        .bg_bottom.about_bg_bottom
        #about_description
          .nav.about_nav
            .option.ab_option(onclick='about_navigator("about")') about me
            .option(onclick='about_navigator("skills")') my skills
            .option.prog_option(onclick='about_navigator("progression")') my progression
          .desc_header about me
          .img(onclick='img_view("nice_pic.png")')
          .paragraph
            p 
              | Lorem ipsum dolor sit amet, pri iusto partiendo at, ei facer homero eos. Duo eu tractatos philosophia, ne libris meliore per. Corrumpit definitiones cu his. Saperet appareat vivendum vix cu, fierent repudiare ut vix, solum summo verear mea ex. Congue lucilius pri an. Ius te commune corrumpit, an mel inimicus explicari.
        .bg_top.skills_bg_top
        .bg_bottom.skills_bg_bottom
        #skills.skills
          .nav.about_nav
            .option.ab_option(onclick='about_navigator("about")') about me
            .option(onclick='about_navigator("skills")') my skills
            .option.prog_option(onclick='about_navigator("progression")') my progression
          .header my skills
          .design_skills
            .header design skills
            ul
              li Lorem ipsum
              li dolor sit amet
              li pri iusto partiendo
              li Et molestie
          .development_skills
            .header dev skillls
            ul
              li Lorem ipsum
              li dolor sit amet
              li pri iusto partiendo
              li Et molestie
        .bg_top.progression_bg_top
        .bg_bottom.progression_bg_bottom
        #progression.progression
          .nav.about_nav
            .option.ab_option(onclick='about_navigator("about")') about me
            .option(onclick='about_navigator("skills")') my skills
            .option.prog_option(onclick='about_navigator("progression")') my progression
          .header my skills progression
          .design_skills
            .header design skills
            ul
              li Lorem ipsum
              li dolor sit amet
              li pri iusto partiendo
              li Et molestie
          .development_skills
            .header dev skillls
            ul
              li Lorem ipsum
              li dolor sit amet
              li pri iusto partiendo
              li Et molestie
      #projects
        .bg_top.proj_desc_bg_top_left
        .bg_right.proj_desc_bg_right
        .bg_bottom.proj_desc_bg_bottom_left
        #proj_description
          .nav.projs_nav
            .option.projs_option(onclick='projs_navigator("about_projs")') about projects
            .option(onclick='projs_navigator("proj_1")') proj one
            .option.proj2_option(onclick='projs_navigator("proj_2")') proj two
          .header about these projects
          .desc 
            p
              | Lorem ipsum dolor sit amet, pri iusto partiendo at, ei facer homero eos. Duo eu tractatos philosophia, ne libris meliore per. Corrumpit definitiones cu his. Saperet appareat vivendum vix cu, fierent repudiare ut vix, solum summo verear mea ex. Congue lucilius pri an. Ius te commune corrumpit, an mel inimicus explicari.
        .bg_top.proj1_bg_top
        .bg_bottom.proj1_bg_bottom
        .proj.proj_1
          .nav.projs_nav
            .option.projs_option(onclick='projs_navigator("about_projs")') about projects
            .option(onclick='projs_navigator("proj_1")') proj one
            .option.proj2_option(onclick='projs_navigator("proj_2")') proj two
          .header project 1
          .imgs_section
            .img_1(onclick='img_view("owl.png")')
            .img_2(onclick='img_view("alternative_skull.png")')
            .img_3(onclick='img_view("fused_glass.png")')
          .desc_section
            .p1
              h2 lorem ipsum
              p
                | Lorem ipsum dolor sit amet, pri iusto partiendo at, ei facer homero eos. Duo eu tractatos philosophia, ne libris meliore per. Corrumpit definitiones cu his. Saperet appareat vivendum vix cu, fierent repudiare ut vix, solum summo verear mea ex. Congue lucilius pri an. Ius te commune corrumpit, an mel inimicus explicari.
          .project_link live view of the project
      
        .bg_top.proj2_bg_top
        .bg_bottom.proj2_bg_bottom
        .proj.proj_2
          .nav.projs_nav
            .option.projs_option(onclick='projs_navigator("about_projs")') about projects
            .option(onclick='projs_navigator("proj_1")') proj one
            .option.proj2_option(onclick='projs_navigator("proj_2")') proj two
          .header project 2
          .imgs_section
            .img_1(onclick='img_view("owl.png")')
            .img_2(onclick='img_view("alternative_skull.png")')
            .img_3(onclick='img_view("fused_glass.png")')
          .desc_section
            .p1
              h2 lorem ipsum
              p
                | Lorem ipsum dolor sit amet, pri iusto partiendo at, ei facer homero eos. Duo eu tractatos philosophia, ne libris meliore per. Corrumpit definitiones cu his. Saperet appareat vivendum vix cu, fierent repudiare ut vix, solum summo verear mea ex. Congue lucilius pri an. Ius te commune corrumpit, an mel inimicus explicari.
          .project_link live view of the project
        
      #contact
        .contact_container
          #contact_me
            i(class='fa fa-at' aria-hidden='true' ) 
              span anasouardini.webdeveloper@gmail.com
            i(class='fa fa-mobile' aria-hidden='true') 
              span +XXX XXX-XXX-XXX-X
          .socialmedia
            a(href='https://www.twitter.com/codeSolide'  target='_blank')
              i(class='fa fa-twitter-square' aria-hidden='true' ) 
                span @codeSolide
            a(href='https://www.facebook.com/anas.ouardini.75'  target='_blank')
              i(class='fa fa-facebook-square' aria-hidden='true') 
                span anas.ouardini.75
            a(href='https://www.github.com/codeSolide'  target='_blank')    
              i(class='fa fa-github-square' aria-hidden='true') 
                span codeSolide
            a(href='https://www.codepen.io/codeSolide'  target='_blank')    
              i(class='fa fa-codepen' aria-hidden='true' ) 
                span codeSolide
        
        
        
        
        
        
        
        
        
        
        
        
        
