doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CodePen
    link(rel='stylesheet' href='css/style.css')
    script(src='js/script.js')
  
  body
    .title codepen projects
    a(href='https://www.codepen.io/codeSolide' target='_blank')
      .codepenLink codepen.io/codeSolide
    #projTable.projectsTable
      #theKicker
    #fc0Container.projectOneCard0Container    
      #fc0.projectOneCard0
    .flipCards
      .firstRow
        .flipCard.flipCard1
        .flipCard.flipCard2
        .flipCard.flipCard3
      .secondRow
        .flipCard.flipCard4
        .flipCard.flipCard5
      .thirdRow
        .flipCard.flipCard6
        .flipCard.flipCard7
        .flipCard.flipCard8
      .projectsAbout
    .projectsMenu
      .menuProject1(onclick='P1()') project one
    
